/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Lato", sans-serif;
  color: #00101e;
}
h1,
h3,
h4,
h5 {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}
h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 15px;
}
body {
  background: #00101e;
}
.main-section {
  max-width: 1500px;
  margin: 0 auto;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-1px);
}
@media (min-width: 750px) {
  .flex-container {
    display: flex;
  }
}
.third {
  flex: 1;
}
.half {
  flex: 1;
}
.hero {
  background: #00101e;
  color: #fdfbf6;
}
.hero .clip-text {
  background: url(../img/granite-quad.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-size: 22vw;
  font-weight: 900;
  text-align: center;
  padding: 5vh 2%;
}
@media (min-width: 750px) {
  .hero {
    margin-top: 110px;
  }
}
@media (min-width: 1050px) {
  .hero .clip-text {
    font-size: 27rem;
  }
}
.hidden-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.openbtn {
  position: fixed;
  top: 6px;
  right: 10px;
  background: none;
  border: 0;
  z-index: 200;
}
.openbtn .navicon {
  width: 35px;
  height: 5px;
  background: #fdfbf6;
  margin: 6px 0;
  transition: 0.4s;
  box-shadow: 3px 3.5px 5px #00101e;
}
.openbtn .bar1 {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
  box-shadow: 3px 3.5px 5px #00101e;
}
.openbtn .bar2 {
  opacity: 1;
  box-shadow: 3px 3.5px 5px #00101e;
}
.openbtn .bar3 {
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
  box-shadow: 3px 3.5px 5px #00101e;
}
@media (min-width: 750px) {
  .openbtn {
    top: -500px;
    left: -500px;
  }
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  box-shadow: none;
  background: #e67943;
}
.change .bar2 {
  opacity: 0;
  box-shadow: none;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  box-shadow: none;
  background: #e67943;
}
.navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #00101e;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
  text-transform: uppercase;
}
.navigation .nav-logo {
  padding: 35px 30px;
}
.navigation .nav-logo .logo {
  width: 100px;
  height: auto;
}
.navigation .nav-right {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
.navigation .nav-right .nav-login .nav-btn {
  cursor: pointer;
  border: #fdfbf6 2px solid;
  background: #00101e;
  border-radius: 50px;
  margin: 0 20px 10px;
  padding: 10px 25px;
  color: #fdfbf6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navigation .nav-right .nav-login .nav-btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fdfbf6;
}
.navigation .nav-right .nav-login .nav-btn:hover {
  background: #963621;
  border: #963621 2px solid;
}
.navigation .nav-right .nav-bar {
  display: flex;
  flex-wrap: wrap;
}
.navigation .nav-right .nav-bar a {
  color: #fdfbf6;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 50px;
  line-height: 3;
  position: relative;
}
.navigation .nav-right .nav-bar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fdfbf6;
  visibility: hidden;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.navigation .nav-right .nav-bar a:hover {
  color: #fdfbf6;
}
.navigation .nav-right .nav-bar a:hover:before {
  visibility: visible;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
@media (min-width: 750px) {
  .navigation {
    width: 100%;
    height: 110px;
    background: #00101e;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .navigation .nav-left {
    flex: 0.5;
  }
  .navigation .nav-logo {
    padding: 20px 30px;
  }
  .navigation .nav-logo .logo {
    width: 50px;
    height: auto;
  }
  .navigation .nav-right {
    flex: 2;
    text-align: right;
  }
  .navigation .nav-right .nav-login .nav-btn {
    padding: 10px 30px;
  }
  .navigation .nav-right .nav-bar {
    display: block;
  }
  .navigation .nav-right .nav-bar a {
    padding: 5px 0;
    margin: 0 20px;
  }
}
.active {
  width: 250px;
}
.footer {
  background: #00101e;
  color: #fdfbf6;
  padding: 20px 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .nav-logo {
  flex: 1;
}
.footer .nav-logo h3 {
  font-size: 2rem;
}
.footer .nav-logo a {
  text-decoration: none;
  color: #fdfbf6;
}
.footer .nav-bar {
  flex: 3;
  text-align: center;
}
.footer .nav-bar a {
  color: #fdfbf6;
  text-decoration: none;
  padding: 5px 0;
  margin: 0 10px;
  position: relative;
  font-size: 1rem;
}
.footer .nav-bar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fdfbf6;
  visibility: hidden;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.footer .nav-bar a:hover {
  color: #fdfbf6;
}
.footer .nav-bar a:hover:before {
  visibility: visible;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.footer .nav-text {
  flex: 1;
  text-align: right;
}
.footer .nav-text p {
  font-size: 1rem;
  line-height: 0;
  margin-bottom: 0;
}
@media (min-width: 750px) {
  .footer .nav-bar a {
    padding: 5px 0;
    margin: 0 20px;
    font-size: 1.4rem;
  }
  .footer .nav-text p {
    font-size: 1.4rem;
  }
}
.map-wrapper {
  background: url(../img/granite-quad.png);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-home {
  height: 60vh;
}
.hero-home .clip-text {
  height: 60vh;
  padding: 20vh 2% 0;
}
@media (min-width: 750px) {
  .hero-home {
    margin-top: 110px;
  }
}
@media (min-width: 1050px) {
  .hero-home .clip-text {
    padding: 5vh 2% 0;
    font-size: 27rem;
  }
}
.about {
  background: #4aa6d0;
  padding: 200px 1%;
}
.about .about-text {
  color: #00101e;
  padding: 0 8%;
}
.about .about-composition {
  position: relative;
  padding: 200px 0;
  margin: 90px 2% 0px;
}
.about .about-composition .composition-photo {
  width: 65%;
  border-radius: 20px;
  position: absolute;
}
.about .about-composition .composition-photo-1 {
  left: 0;
  top: -5rem;
}
.about .about-composition .composition-photo-2 {
  right: 0;
  top: -1rem;
}
.about .about-composition .composition-photo-3 {
  left: 20%;
  top: 7rem;
}
@media (min-width: 750px) {
  .about {
    padding: 200px 1% 0;
  }
  .about .about-composition {
    position: relative;
    margin: 50px 8% 0px 2%;
  }
  .about .about-composition .composition-photo {
    width: 65%;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    outline-offset: 0.3rem;
  }
  .about .about-composition .composition-photo-1 {
    left: 0;
    top: -5rem;
  }
  .about .about-composition .composition-photo-2 {
    right: 0;
    top: -1rem;
  }
  .about .about-composition .composition-photo-3 {
    left: 20%;
    top: 7rem;
  }
  .about .about-composition .composition-photo:hover {
    transform: scale(1.05) translateY(-0.5rem);
    z-index: 20;
  }
  .about .about-composition:hover .composition-photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@media (min-width: 1050px) {
  .about .about-composition .composition-photo {
    width: 65%;
  }
  .about .about-composition .composition-photo-1 {
    left: 0;
    top: -12rem;
  }
  .about .about-composition .composition-photo-2 {
    right: 0;
    top: -5rem;
  }
  .about .about-composition .composition-photo-3 {
    left: 20%;
    top: 5rem;
  }
}
.features {
  padding: 200px 1%;
}
.features .fas {
  font-size: 5rem;
  margin-bottom: 20px;
}
.features h2 {
  text-align: center;
  margin: 0 auto 3rem;
  background: rgba(253, 251, 246, 0.85);
  padding: 20px;
  border-radius: 20px;
  max-width: fit-content;
}
.feature-box {
  background-color: rgba(253, 251, 246, 0.8);
  padding: 3.5rem 2rem 5rem;
  margin: 5rem 2rem;
  text-align: center;
  border-radius: 20px;
}
.feature-box h3 {
  margin-bottom: 20px;
}
.feature-box p {
  line-height: 2;
}
.ready {
  background: #00101e;
  margin-top: 150px;
  padding: 200px 1%;
  text-align: center;
  color: #fdfbf6;
  -webkit-clip-path: polygon(0% 30%, 12% 26%, 14% 27%, 17% 27%, 24% 33%, 30% 25%, 33% 22%, 36% 20%, 38% 22%, 40% 16%, 44% 12%, 45% 14%, 47% 11%, 52% 7%, 54% 10%, 57% 14%, 61% 15%, 63% 18%, 67% 21%, 71% 29%, 73% 30%, 74% 33%, 77% 34%, 79% 33%, 81% 36%, 84% 37%, 88% 35%, 90% 35%, 94% 31%, 95% 29%, 97% 32%, 100% 31%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 30%, 12% 26%, 14% 27%, 17% 27%, 24% 33%, 30% 25%, 33% 22%, 36% 20%, 38% 22%, 40% 16%, 44% 12%, 45% 14%, 47% 11%, 52% 7%, 54% 10%, 57% 14%, 61% 15%, 63% 18%, 67% 21%, 71% 29%, 73% 30%, 74% 33%, 77% 34%, 79% 33%, 81% 36%, 84% 37%, 88% 35%, 90% 35%, 94% 31%, 95% 29%, 97% 32%, 100% 31%, 100% 100%, 0% 100%);
}
.ready h2 {
  margin-top: 3rem;
}
.ready .btn {
  background: #963621;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  min-width: 15em;
  padding: 0 1.5em;
  transition: transform 0.7s;
}
.ready .btn a {
  color: #fdfbf6;
  text-decoration: none;
  font-size: 1.45em;
  letter-spacing: 0.125em;
  line-height: 3.25em;
  text-align: center;
}
.contact {
  background: #845259;
  padding: 200px 1%;
  margin: 0 auto;
  text-align: center;
}
.contact .contact-form input,
.contact .contact-form textarea {
  width: 95%;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 3px;
  background: none;
  border: 3px solid #fdfbf6;
  color: #fdfbf6;
  font-family: "Lato", sans-serif;
  transition: all 0.3s;
}
.contact .contact-form textarea {
  resize: none;
}
.contact .contact-form textarea:focus,
.contact .contact-form input:focus {
  outline: none;
  border: 3px solid #4aa6d0;
}
.contact .contact-form input:focus:invalid {
  outline: none;
  border: 3px solid #e67943;
}
.contact .contact-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(253, 251, 246, 0.712);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
.contact .contact-form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(253, 251, 246, 0.712);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
.contact .contact-form :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(253, 251, 246, 0.712);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
.contact .contact-form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(253, 251, 246, 0.712);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
.contact .contact-form .label {
  color: rgba(253, 251, 246, 0.712);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin: -0.7rem 0 1rem 3.2rem;
  text-align: left;
  transition: all 0.3s;
  display: block;
}
.contact .contact-form input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.contact .contact-form textarea:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}
.contact .contact-form .form-btn {
  font-family: "Lato", sans-serif;
  color: #fdfbf6;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  background: #00101e;
  border-radius: 50px;
  border: none;
  width: auto;
  margin-bottom: 50px;
}
.contact .contact-form .form-btn:hover {
  transform: translateY(-3px);
}
.contact .contact-form .form-btn:active {
  transform: translateY(-1px);
}
.team {
  background: #4aa6d0;
  padding: 200px 1%;
  margin: 0 auto;
  text-align: center;
}
.team .flex-container {
  align-items: center;
}
.team .headshot-img {
  width: 200px;
  margin: 0 2%;
  float: none;
  margin-bottom: 20px;
  border-radius: 20px;
}
.team h3 {
  margin-bottom: 5px;
}
.team h4 {
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  font-style: italic;
  margin-bottom: 10px;
}
.team .team-icon {
  text-decoration: none;
  border-bottom: none;
  color: #00101e;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Font Awesome 5 Brands";
  padding: 1rem;
  margin: 0 20px 0;
  background: #fdfbf6;
  border-radius: 50px;
  text-align: center;
}
.team .team-icon:hover {
  background: #00101e;
  color: #fdfbf6;
}
@media (min-width: 750px) {
  .team .bio {
    text-align: left;
  }
  .team .team-icon {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1050px) {
  .team p {
    max-width: 400px;
  }
}
