body,
header,
section,
aside,
footer {
  // border: 1px solid #000000;
}

body {
  .sunset-gradient();
}

.hero {
  margin-top: 110px;
  // background: url(../img/granite-quad.png);
  height: 60vh;

  background-position: top center;
  background-repeat: no-repeat;

  background: @color-black;

  .clip-text {
    background: url(../img/granite-quad.png);
    background-size: 100% auto;

    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-family: @display-font;
    text-transform: uppercase;

    font-size: 22vw;
    font-weight: 900;
    text-align: center;
    padding: 200px 2% 0;
  }
}

.about {
  background: @color-primary;

  padding: 200px 1%;

  .about-text {
    padding: 0 8%;
  }

  @media @tablet {
    .about-composition {
      position: relative;
      margin-right: 8%;

      .composition-photo {
        width: 65%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;

        position: absolute;
        z-index: 10;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        outline-offset: 2rem;
      }

      .composition-photo-1 {
        left: 0;
        top: -5rem;
      }

      .composition-photo-2 {
        right: 0;
        top: -1rem;
      }

      .composition-photo-3 {
        left: 20%;
        top: 7rem;
      }

      .composition-photo:hover {
        outline: 1.5rem solid @color-accent;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(@rich-black, 0.5);
        z-index: 20;
      }
    }
    .about-composition:hover .composition-photo:not(:hover) {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  }

  @media @desktop {
    .about-composition {
      .composition-photo {
        width: 55%;
      }
    }
  }
}

.features {
  background: url(../img/granite-quad.png);
  background-size: 100% auto;
  padding: 200px 1%;

  h2 {
    text-align: center;
    margin: 0 auto 3rem;
    background: rgba(0, 35, 65, 0.85);
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;

    max-width: fit-content;
  }

  .feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6.5rem 2rem;
    margin: 0 2rem;
    text-align: center;

    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;

    p {
      line-height: 2;
    }
  }

  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.ready {
  background: @color-black;
  margin-top: 150px;
  padding: 200px 1%;
  text-align: center;
  color: #ffffff;
  .clip-path-mountain();
}

.footer {
  background: @color-black;
  color: @color-primary;
  padding: 20px 2%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .nav-logo {
    flex: 1;
  }

  .nav-bar {
    flex: 3;
    text-align: center;

    a {
      color: @color-primary;
      text-decoration: none;
      padding: 5px 0;
      margin: 0 20px;
      position: relative;
      font-size: 1.4rem;
    }

    a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      visibility: hidden;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transform-origin: center left;
      transform-origin: center left;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    a:hover {
      color: #ffffff;
    }

    a:hover:before {
      visibility: visible;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  .nav-text {
    flex: 1;
    text-align: right;

    p {
      font-size: 1rem;
    }
  }
}

.flex-container {
  @media @tablet {
    display: flex;
  }
}

.third {
  flex: 1;
}

.half {
  flex: 1;
}
